.navitem{
  display: flex;

}
#navbarmain{
  display: flex;
}
#navleftitem{
  display: flex;
  flex: 50;
}
#navrightitems{
  display: flex;
  justify-content: center;
  
}
.main{
  height: auto;
  margin: 0 4.5%;
  margin-top: 20px;
}
.cartnavitem{
  padding: 0 20px;
}
.carticon{
  margin:  -3px 10px 0 10px;
}
.usericon{
  margin:  -3px 10px 0 10px;
}
.footerbody{
  width: 100%;
  display: flex;
}
.homescreen{
  display: flex;
  width: 100%;
  flex-direction: column;
}
#textprod{
  text-decoration: none;
  color: black;

}
.show{
  display:inline;
  flex-direction: row;

}
.hide{
  display: none;
  flex-direction: row;
}
#halfstar{
  font-size: .9rem;
  color: #f8e825;
}
#rate{
  color: #f8e825;
}
.rating{
  margin-right: 20px;
}
.numrev{
  margin-left: 20px;
}