.navitem{
  display: flex;

}
#navbarmain{
  display: flex;
}
#navleftitem{
  display: flex;
  flex: 50;
  color: aliceblue;
  text-decoration: none;
  font-size: 2rem;
}

.navrightitems{
  color: aliceblue;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 20px;
  
}
.navrightitems:hover{
  color: bisque;
}
.cartnavitem{


}
.carticon{
  margin:  -3px 10px 0 10px;
}
.usericon{
  margin:  -3px 10px 0 10px;
}



.show{
  display:inline;
  flex-direction: row;

}
.hide{
  display: none;
  flex-direction: row;
}
#halfstar{
  font-size: .9rem;
  color: #f8e825;
}
#rate{
  color: #f8e825;
}
.homescreen{
  margin:  2vh 4.8vw;
}
.cardproduct{
  display: flex;
  flex-direction: column;
  width: 250px;
}
.prod{
  display: flex;
  flex-direction: row;
  margin: 1vw;
  border: solid black 1px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 40px;
}
.prodcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;

  
}
.prodlink{
  text-decoration: none;
}
.cardprodtitle{
  text-decoration: none;
  color: black;
}
.cardrev{
  color: black;
}
#textprod{
  color: black;
}




